
/* first nav section */
.header2 {
  display: none;
}

.menu {
  color: aliceblue;
  font-size: 2rem;
}

.navbar {
  background-color: red;
}

.nav-item span {
  color: aliceblue;
  padding-top: 30px;
}

.news-link {
  color: aliceblue;
  font-size: 2rem;
}

.news-link:hover {
  color: aliceblue;
  text-decoration: none;
}

.sign {
  color: aliceblue;
  font-weight: bold;
}

.sign:hover {
  color: aliceblue;
  text-decoration: none;
}

/* second nav section */
.nav-link {
  border-right: 1px solid grey;
  color: black;
}

.nav-link:hover {
  color: red;
}

.main-title {
  color: rgb(170, 163, 163);
  font-weight: bold;
}

.card-title {
  color: rgb(10, 10, 10);
  font-weight: bold;
}

.card-title2 {
  color: #fff;
  font-weight: bold;
}

.card-title21:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.card-title:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: red;
}

.container2-text {
  color: rgb(211, 208, 208);
}

.opinion:hover {
  cursor: pointer;
}

.sm-p {
  color: rgb(2, 2, 2);
  font-weight: bold;
}

.sm-p:hover {
  color: #f10909;
  cursor: pointer;
}

.side-para {
  color: rgb(2, 2, 2);
  font-weight: bold;
}

.side-para:hover {
  color: #f10909;
  cursor: pointer;
}

.auth {
  color: rgb(175, 168, 168);
  font-weight: bold;
}

.side-par {
  color: black;
  font-weight: bold;
}

.side-par:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

iframe {
  height: 479px;
  width: 56rem;
}

.icon-container {
  display: flex;
}

.footer-icons {
  font-size: 1rem;
  list-style: none;
}

.footer-icon a {
  color: rgb(105, 100, 100);
  margin-top: -3px;
  padding-left: 30px;
}

.footer-links {
  color: rgb(145, 139, 139);
  list-style: none;
  word-spacing: 20px;
}

.footer-links li:hover {
  color: rgb(44, 43, 43);
  cursor: pointer;
}

.button {
  background-color: #f10909;
  border: none;
  color: #fff;
  font-weight: bold;
}

.side-par2 {
  color: rgb(12, 11, 11);
  font-weight: bold;
}

.footer-news {
  color: red;
  font-weight: bolder;
  margin-left: 11rem;
  transform: translateX(-159px);
}

.editions {
  margin-left: 4rem;
}

.card-body {
  padding-left: 0;
}

/* Medium devices (desktops, 960px and up) */
@media (min-width: 992px) {
  .header1 {
    display: none;
  }

  .header2 {
    display: block;
  }
}

