body {
  overflow-x: hidden;
}

/* first nav section */
.header2 {
  display: none;
}

.menu {
  color: gray;
  font-size: 2rem;
}

.navbar {
  background-color: red;
}

.nav-item span {
  font-size: 1.5rem;
  padding-top: 30px;
}

.sign {
  background-color: red;
  border: none;
  font-size: 1.5rem;
}

.sign:hover {
  text-decoration: none;
}

.subscribe {
  background-color: #fff;
  border: none;
  color: #f10909;
  font-size: 1.5rem;
  height: 50%;
}

.nav-search {
  font-weight: 100;
}

/* second nav section */
.nav-link {
  border-right: 1px solid grey;
  color: black;
  margin: 25px 0;
}

.nav-link:hover {
  color: red;
}

.nav {
  font-size: 1.7rem;
}

.main {
  border-top: 2px solid grey;
  margin-left: 0;
  width: 100%;
}

.date {
  font-size: 1.5rem;
  margin-left: 20px;
}

.main-title {
  color: rgb(170, 163, 163);
  font-size: 1.5rem;
  font-weight: bold;
}

.card-title {
  color: rgb(10, 10, 10);
  font-size: 2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.5rem;
}

.card-title2 {
  color: #fff;
  font-weight: bold;
}

.card-title21:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.card-title:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: red;
}

.container2-text {
  color: rgb(211, 208, 208);
}

.opinion:hover {
  cursor: pointer;
}

.sm-p {
  color: rgb(2, 2, 2);
  font-weight: bold;
}

.sm-p:hover {
  color: #f10909;
  cursor: pointer;
}

.side-para {
  color: rgb(2, 2, 2);
  font-size: 1.5rem;
  font-weight: bold;
}

.side-para:hover {
  color: #f10909;
  cursor: pointer;
}

.auth {
  color: rgb(175, 168, 168);
  font-weight: bold;
}

.side-par {
  color: black;
  font-weight: bold;
}

.side-par:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

iframe {
  height: 479px;
  width: 56rem;
}

.icon-container {
  display: flex;
}

.footer-icons {
  font-size: 1rem;
  list-style: none;
  padding-right: 50px;
}

.footer-icon a {
  color: rgb(105, 100, 100);
  font-size: 2rem;
  margin-top: -3px;
  padding-left: 30px;
}

.footer-links {
  color: rgb(145, 139, 139);
  list-style: none;
  word-spacing: 20px;
}

.footer-links li:hover {
  color: rgb(44, 43, 43);
  cursor: pointer;
}

.button {
  background-color: #f10909;
  border: none;
  font-weight: bold;
}

.side-par2 {
  color: rgb(12, 11, 11);
  font-weight: bold;
}

.footer-news {
  color: red;
  font-weight: bolder;
  margin-left: 11rem;
  transform: translateX(-159px);
}

.editions {
  margin-left: 4rem;
}

.card-body {
  padding-left: 0;
}

.story-img {
  width: 60%;
}

.subscribe2 {
  color: #fff;
  background-color: red;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 100px;
}

.footer-text {
  color: black;
  font-size: 2rem;
}

.footer-par {
  font-size: 1.3rem;
}

.sub {
  color: #f10909;
}

.opinion-img {
  width: 15%;
}

.latest-news-img {
  width: 33%;
}

.more-stories-img {
  width: 26%;
}

.slide-show-img {
  width: 20%;
}

.cons {
  justify-content: flex-end;
}

.but {
  color: #f10909;
  border: none;
  background-color: aliceblue;
  bottom: 50px;
  height: 50px;
  position: relative;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header1 {
    display: none;
  }

  .header2 {
    display: block;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .news-link {
    margin-left: 30px;
  }
}

/* Small devices (tablets, below 768) */
@media (max-width: 768px) {
  .main .top {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .main .more {
    order: 4;
  }

  .main .culture {
    order: 5;
  }

  .main .featured {
    order: 2;
  }

  .main .opinion {
    order: 3;
  }

  .cons {
    justify-content: flex-start;
  }
}
